doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/shop.css')
  link(rel='stylesheet' href='/css/temp.css')

  //link(rel='stylesheet' href='/css/profile.css')
  title profile
nav.header
  label.logo
    a(href='/') Shopify
  ul.navigation-bar
    li
      a(href='/profile') profile
.personal
  table
    tr
      td email: 
      td.provided provided email
    tr
      td password: 
      td.provided provided password
//      td.pass-change button change password
// button.change-pass change password
h1 your images

.row
    .column
        img(src='/collection/food/2.jpg' alt='Snow' style='width:100%')
    .column
        img(src='/collection/food/1.jpg' alt='Forest' style='width:100%')
    .column
        img(src='/collection/food/3.jpg' alt='Mountains' style='width:100%')
    .column
        img(src='/collection/food/4.jpg' alt='Mountains' style='width:100%')
    .column
        img(src='/collection/food/6.jpg' alt='Mountains' style='width:100%')
    .column
        img(src='/collection/food/5.jpg' alt='Mountains' style='width:100%')
