<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shop</title>
    <link rel="stylesheet" href="../public/css/shop.css">
</head>
<body>

        <nav class= "header" >
            <label class="logo"><a href="">Shopify</a></label>
            <ul class="navigation-bar">
                <li ><a href="#">logo</a></li>
                <li ><a href="#">shop</a></li>
            </ul>
        </nav>
        <div class="wrapper">
            <div class="item"> b </div>
            <div class="item"><a href="/">enviroment</a></div>
            <div class="item"><a href="/">3</a></div>
            <div class="item"><a href="/">4</a></div>
            <div class="item"><a href="/">5</a></div>
            <div class="item"><a href="/">6</a></div>
            <div class="item"><a href="/">7</a></div>
            <div class="item"><a href="/">8</a></div>

        </div>
        <form action="/">
            <input type="submit" value="Submit">
        </form>
</body>
</html>